#intro {
    margin-bottom: 20px;
}

#upload-group {
    display: block;
}

#upload-group>input {
    display: inline-block;
}

#submit-btn {
    height: 22px;
    vertical-align: bottom;
}

body,
html {
    margin: 0;
    min-width: 660px;
}

.unshow {
     !important;
    display: none;
}

#drag-area {
    position: relative;
    margin: 0 auto 20px;
    width: 500px;
    height: 300px;
    border: dashed 2px gray;
    background-color: #F5F5F5;
    z-index: 233;
}

#drag-area>p {
    position: absolute;
    font-size: 50px;
    line-height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -115px;
    color: lightgray;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-focus: none;
    z-index: 0;
}