#intro {
    margin-bottom: 50px;
}

#upload-group {
    display: block;
}

#upload-group > input {
    display: inline-block;
}

#submit-btn {
    height: 22px;
    vertical-align: bottom;
}

body, html {
    margin: 0;
    min-width: 660px;
}

.unshow{
    !important;
    display: none;
}
