<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        console.log("             UniqueStudio--Web                ");
        console.log("             Author:NekodRider                ");
        console.log("------------------网站开源----------------------");
        console.log("             UniqueStudio 2017                ");


    </script>
    <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
    <script src="../static/jquery-3.1.1.min.js"></script>
    <script src="../static/semantic.js"></script>
    <script src="../static/dimmer.js"></script>
    <script src="../static/main_v4.0.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/dimmer.min.css">
    <link rel="stylesheet" href="../static/main_v4.0.css"/>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - UniqueStudio</title>
    {% else %}
    <title>UniqueStudio</title>
    {% endif %}
</head>

<body>

<div class="ui modal basic fail">
    <div class="ui icon header">
        <i class="warning sign icon"></i>
        上传出错
    </div>
    <div class="content center aligned container" style="text-align: center">
        <div >请检查文件类型大小是否符合要求或者网络是否连通后重新上传!</div>
        <div >如遇问题请反馈至 <a  target="_blank" style="color: lightblue;" href="https://github.com/NekodRider/test-site"><i class="icon github" ></i>Github</a></div>
    </div>
    <div class="actions">
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Gotcha
        </div>
    </div>
</div>

<div class="ui modal basic done">
    <div class="ui icon header">
        <i class="check circle icon"></i>
        上传成功
    </div>
    <div class="content center aligned container" style="text-align: center">
        <div >感谢你的参与!快去好好休息一会吧~</div>
    </div>
    <div class="actions">
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Gotcha
        </div>
    </div>
</div>


<div class="ui attached stackable menu">
    <div class="logo">
        <img class="ui small left floated " style="padding: 0.5em 1em" src="../static/src/logo.png"/>
    </div>
    <a class="item floated" href="/">
        上传试题
    </a>
    <a class="item floated" href="/test">
        下载试题
    </a>


</div>
{% block content %}{% endblock %}
</body>
<script>init();</script>
</html>